#root {
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  padding: 2em;
}

.article-detail-wrapper {
  padding-left: 24px;
  text-align: left;
}

.article-detail-image-holder img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.article_wrapper {
  width: 100%;
}
.flex {
  display: flex;
}
.flex .article-list {
  flex: 1;
}
.flex .article-details {
  flex: 2;
}
.article-card {
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 0px #dedede;
  cursor: pointer;
  text-align: left;
}

.article-card p {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

.article-card p,
.article-card p:after,
.article-card p:before {
  transition: all 0.1s;
}

.article-card p:hover {
  color: #555;
  background-color: #242424;
  margin: 0;
}

.fill p {
  position: relative;
  transition: all 2s;
  cursor: pointer;
}
.fill p button {
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  text-align: left;
}

.fill p:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
  text-align: left;
  margin: 0;
  opacity: 0;
}

.fill p:hover > button {
  color: #fff;
  cursor: pointer;
}

.fill p:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
